.main-header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFD052;
  background-image: url(../images/background-texture-2.png);
}

img {
  margin-top: 120px;
}