/* Mobile Layout */

.main-header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFD052;
  background-image: url(../images/background-texture-2.png);
}

.my-profile-pic {
  margin-top: 160px;
}

.profile-name {
  margin-top: 0px;
}


/* Tablet Layout */

@media only screen and (min-width: 768px) {

}

/* Desktop Layout */


@media only screen and (min-width: 1024px) {
  
}
