nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

span {
  font-family: 'Bungee', sans-serif;
  display: block;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-top: 60px;
}

.write-new-tweet {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-tweet p {
  margin-bottom: 0px;
  z-index: 9;

}

.new-tweet i {
  color: red;
  z-index: 8;

}