/* Mobile Layout */

nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 7;
}

span {
  font-family: 'Bungee', sans-serif;
  display: block;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-top: 60px;
}

.write-new-tweet {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.write-new-tweet p {
  margin-bottom: 0px;
  z-index: 9;

}

.write-new-tweet i {
  color: red;
  z-index: 8;

}

/* Tablet Layout */

@media only screen and (min-width: 768px) {

}

/* Desktop Layout */


@media only screen and (min-width: 1024px) {
  
}