/* Mobile Layout */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea { 
  width: 100%;
  height: 42px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 5px solid;
  border-bottom-style: outset;
  background-color: #f4f1ec;
  overflow: visible;
  text-overflow: ellipsis;
}

textarea, label {
  align-self: flex-start;
}

textarea:focus {
  outline: none;
  height: 42px;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;

}

button {
  color: white;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;

}

output {
  font-family: 'Bungee', sans-serif;
}

.submit-counter {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.compose-tweet {
  text-align: center;
}

.error-text {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

/* Tablet Layout */

@media only screen and (min-width: 768px) {

}

/* Desktop Layout */


@media only screen and (min-width: 1024px) {

  
  
}